* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  /* Header Section................. */

.inline-block {
    margin-left: 60px;
    margin-right: 60px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

.logo{
    display: flex;
    background-color: red;
}

.Nav{    
    display: flex;
    
    color: black;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: capitalize; 
    
    background-color: coral;
}
.NavBut{

    padding-left: 30px;
    display: flex;
    align-items: flex-end;
    }
body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    top: 0;
    height: 120px !important;
width: 100%;
z-index: 1000;
background: rgba(241, 240, 242, 0.60);
backdrop-filter: blur(10px);
position: fixed;

}






.NavBut:hover{
    text-shadow:  0px 0px 7px #EF9A63; 
}

.button{
    margin-top: 30px;
    color: black;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    word-wrap: break-word;
    width: 150px;
    height: 50px;
    flex-shrink: 0;
}



.heroimg{
    background-image: url(../images/homepagehero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

h1{
    display: flex;
    padding-top: 100px;
    padding-right: 27px;
    align-items: center;
    flex-shrink: 0;
    color: #000;
    font-family: Lato;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 3.2px;
    text-transform: capitalize;
}

h2{
    display: flex;
    width: 800px;
    
    padding: 0px 16px 13px 0px;
    align-items: center;
    flex-shrink: 0;
    color: #000;
    font-family: Lato;
    font-size: 35px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.4px;
    text-transform: capitalize;
}

h4{
    color: #000;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: capitalize;
    width: 300px;
}


.skills{
    display: flex;
    width: 121px;
    height: 18px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.casestudy{
    width: cover;
    display: grid;
    grid-template-columns: 30% 70% ;
    padding: 2%;
}

.caseimage{
   width: 100%;
   
}

.hrcase{
    background-color: black;
    height: 3px;
    width: 100%;
   transform: translateY(10px);
}


.headerPadding{
    margin-top: 200px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 100px;
}

.backgroundPadding{
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 100px;
}
.hrabout{
    background-color: black;
    height: 3px;
    width: 100%;
}
.flexContainer{
    display: flex; 
    justify-content: space-between;
    
}

.metext{
    color: black;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.6px;
    
    width: 30%;
    
}


  .flex_item {
    margin-top: 30px;
    
    
  }
  .profilePic{
    max-width: 60%;
    height: auto;
    align-items: flex-end;

  }
  
  .container{
    position: relative;
  }
  .backgroundText{
    color: #000;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.9px;
    margin-top: 30px;
  }

  .resumeSpacing{
    
    margin-left: 60px;
    margin-right: 60px;
    width: calc(100% - 120px);
    height: 200px;
    
}

  /* Footer Section................. */
 .name{
    margin-top: 50px;
    
    
 }
 .footerContact{
    margin-top: 50px;
    padding-left: 50px;
    background-color: coral;

 }

 .hrfooter{
    background-color: black;
    height: 3px;
    width: calc(100% - 120px);
    position: absolute;
    bottom: 0;
   transform: translateY(-220px);
}

.footer {
    position: relative;
    min-height: 300px;
    z-index: 1;
    
}
footer {
    min-height: 300px; 
    
}
.footerBackground {

    background-image: url(../images/homepagerfooterimage.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px; 

    position: relative;
    z-index: 1;
    
 
}

.footerlogo{
    display: flex;
    justify-content: flex-start;
    margin-left: 60px;
    margin-top: 50px;
    
}

.footername{
    display: flex;
    vertical-align: top;  
    justify-content: space-between; 
    color: #000;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: capitalize;
    margin-left: 60px;
    margin-right: 60px;
    background-color: aqua;
}

ul li {
    display: inline-block;
    vertical-align: top;
}

